# === Python ===
# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Distribution / Packaging
*.egg
*.egg-info/
dist/
build/
_build/
_templates/


# Logs
*.log

# === Sphinx ===
# Sphinx cache files
docs/source/
Makefile
make.bat

# === OS / IDE-specific files ===
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*.swp
*.swo
*~

# IDEs
.idea/
.vscode/
*.code-workspace
